boto3
coverage
django
django-cors-headers
django_cron
django-cryptography
django-dotenv
djangorestframework
djangorestframework-simplejwt
django-storages
django-rq
freezegun
gunicorn
mock
motor
pandas
pillow
psycopg2-binary
pydantic
pymongo
pytest-django
python-jose[cryptography]
requests
rq
tldextract
waitress