autopep8
boto3
coverage
django
django-cors-headers
django-dotenv
djangorestframework
djangorestframework-simplejwt
django-storages
motor
pillow
psycopg2-binary
pymongo
pytest-django
python-jose[cryptography]
requests
tldextract